:root {
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Text colors */
  --main-txt-color: #212121;
  --grey-txt-color: #757575;
  --accent-txt-color: #2196f3;
  --light-txt-color: #ffffff;
  --dark-text-color: #000000;

  /* Background colors*/
  --accent-bg-color: #2196f3;
  --light-grey-bg-color: #f5f4fa;
  --light-bg-color: #ffffff;
  --icon-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --hover-bg-btn: #188ce8;

  /* Other */
  --border-color: #eeeeee;
  --checkbox-border-color: #212121;
  --icon-border-color: #afb1b8;
  --icon-color: #afb1b8;
  --anim-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* BODY */

.page {
  font-family: var(--main-font);
  color: var(--main-txt-color);
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

.link,
.logo__header,
.logo-footer {
  text-decoration: none;
  color: currentColor;
}

.list,
.list-address,
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

/**
  |============================
  | HEADER
  |============================
*/

.header .container {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}

/* Logo */

.logo__header {
  display: flex;

  padding-top: 24px;

  margin-right: 93px;
  padding-bottom: 25px;
}

.logo__special {
  color: var(--accent-txt-color);
}

/* Main navigation */

.nav {
  margin-right: auto;
}

.nav__list,
.nav__list-address {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav__link,
.nav__special-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  transition: color var(--anim-main);
}

.nav__special-link {
  color: var(--accent-txt-color);
}

.nav__special-link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -4.5px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-bg-color);
  border-radius: 2px;
}

.header,
.list-address {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}
/* 
.icon {
  color: var(--grey-txt-color);
} */

.icon:hover {
  color: var(--accent-txt-color);
}

.nav__icon {
  margin-right: 10px;

  fill: currentColor;
}

.header .link:hover,
.header .link:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-txt-color);
}

.logo__header,
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
}



.list-address {
  color: var(--grey-txt-color);
}

/**
  |============================
  | main
  |============================
*/

.hero {
  background: #c4c4c4;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/fon.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.caption {
  width: 696px;
  min-height: 120px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-color);
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  text-align: center;
  letter-spacing: 0.06em;
  transition: color var(--anim-main);

  color: var(--light-txt-color);
  background-color: var(--accent-bg-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-bg-btn);
}

/**
  |============================
  | Модальне вікно
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  opacity: 1;
  transform: translateX(0%);

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: opacity var(--anim-main), visibility var(--anim-main), transform var(--anim-main);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transform: translateX(100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background: var(--light-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  transition: fill var(--anim-main), background-color var(--anim-main);

  fill: var(--dark-text-color);
  background-color: var(--light-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--light-bg-color);
  background-color: var(--accent-bg-color);
}

label {
  display: block;
}

.register-form-title {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.register-form-group {
  margin-bottom: 20px;
}

.register-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--grey-txt-color);
}

.register-form-holder {
  position: relative;
  display: flex;
  align-items: center;
}

.register-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--anim-main);
}

.register-form-input:focus,
.register-form-massage:focus,
.subscrib-input:focus {
  border-color: var(--accent-bg-color);
}

.register-form-icon {
  position: absolute;

  margin-left: 12px;

  transition: fill var(--anim-main);
}

.register-form-input:focus + .register-form-icon {
  fill: var(--accent-bg-color);
}

.register-form-massage {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-size: 12px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.register-form-massage::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.register-form-checkbox:checked + .checkbox-icon {
  border-color: var(--accent-bg-color);
  background-color: var(--accent-bg-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}



.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 10px;

  border: 2px solid var(--checkbox-border-color);
  border-radius: 4px;
}

.register-form-checkbox:focus + .checkbox-icon{
  border-color: var(--accent-bg-color);
  background-color: var(--accent-bg-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}



.checkbox-icon:focus-visible{
  width: 50px;
  height: 50px;
  background-color: #188ce8;
}


.register-form-desc {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  user-select: none;

  color: var(--grey-txt-color);
}

.register-form-link {
  color: var(--accent-txt-color);
}

.register-form-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
}

.register-form-btn:hover,
.register-form-btn:focus {
  background-color: var(--hover-bg-btn);
}

/**
  |============================
  | Кінець модального вікна
  |============================
*/

.feature-content {
  margin: 0;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

#hidden {
  display: block;
}

.features-list {
  display: block;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.feature-item {
  width: 270px;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-color);
}
.text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
}

.section-work {
  padding-bottom: 94px;
}

.headline {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.list-work {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.work {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  background: rgba(47, 48, 58, 0.8);
}

.work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-txt-color);
}

.team-section {
  background-color: var(--light-grey-bg-color);

  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team-item {
  background: var(--light-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.headline-team {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.headline-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
  margin-bottom: 16px;
}

/* TEAM ICON */

.our-team-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  transition: color var(--anim-main), background-color var(--anim-main);

  color: var(--icon-color);
  background-color: var(--icon-bg-color);
  border-radius: 50%;
}

.team-link:hover,
.team-link:focus {
  color: var(--light-txt-color);
  background-color: var(--accent-bg-color);
}

.team-icon {
  fill: currentColor;
}

.section-customers {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers-group {
  display: block;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.link-customers {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--anim-main), border var(--anim-main);

  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-border-color);
}

.link-customers:hover,
.link-customers:focus {
  fill: var(--accent-bg-color);
  border: 1px solid var(--accent-bg-color);
}

/**
  |============================
  | footer
  |============================
*/

.footer {
  background-color: var(--footer-bg-color);

  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--light-txt-color);
}

.address-text,
.address-list {
  list-style: none;
  display: block;
  padding-left: 0;

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--light-txt-color);
}

.address-list {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-link {
  transition: var(--anim-main);
}

.social-footer {
  margin: 0px;
  padding: 0px;
}

.social-caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--light-txt-color);
}

.social {
  display: flex;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--anim-main);

  width: 44px;
  height: 44px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-icon {
  fill: var(--light-txt-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-bg-color);
}

.subscrib-group {
  margin-left: 93px;
}

.subscrib-title {
  display: block;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--light-txt-color);
}

.subscrib {
  display: flex;
}

/* .subscrib-form-field{
  position: relative;
  display: block;
} */

.subscrib-input {
  width: 358px;
  height: 50px;

  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;

  color: var(--light-txt-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscrib-input:focus {
  outline-color: var(--accent-bg-color);
}

.subscrib-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscrib-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  border: 0;
  padding: 10px 28px;

  color: var(--light-txt-color);
  background: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--anim-main);
}

.subscrib-btn:hover,
.subscrib-btn:focus {
  background-color: var(--hover-bg-btn);
}

.icon-send {
  margin-left: 10px;
}

/**
  |============================
  | PORTFOLIO
  |============================
*/

.subcat-section {
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-choice {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 50px;
}

.button {
  padding: 6px 22px;
  border: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  background: var(--light-grey-bg-color);
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--anim-main), background-color var(--anim-main), box-shadow var(--anim-main);
}

.subcat .button:hover,
.subcat .button:focus {
  color: var(--light-txt-color);
  background-color: var(--accent-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* вспливающий теск */

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--anim-main);
}

.list-item {
  position: relative;
}

.list-item:hover .overlay {
  transform: translateY(0);
}

.overlay-desc {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--light-txt-color);
}

/* кінець вспливаючого тексту */

.subcat-contant {
  padding: 20px 24px;

  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-bottom: 94px;
}

.portfolio-link:focus .overlay {
  position: absolut;
  width: 100%;
  height: 100%;
  background-color: var(--accent-bg-color);
  transform: translateY(0%);
}

.portfolio-link {
  display: block;

  background: var(--light-bg-color);
  transition: box-shadow var(--anim-main);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.subcat-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-color);
}

.subtitle {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
}
